* {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html, body {
    height: 100vh;
    background: #fefefe;
    scroll-behavior: smooth;
    row-gap: 500px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 15px #080808;
    background-color: #fefefe;
}

.logo {
    padding: 2vw;
}

.logo img{
    width: 10rem;
}

.nav-bar li{
    text-decoration: none;
    list-style: none;
    display: inline;
    cursor: pointer;
    width: 50px;
}

.nav-bar nav a{
    display: inline;
    margin: 2vw;
    padding-bottom: 1vw;
    color: #080808;
    font-size: 1.1rem;
    transition: .2ms ease;
}

.nav-bar nav a:hover{
    color: #EA8103;
}

.nav-bar li.active a{
    border-bottom: 3px solid #080808;
}

.check-btn{
    font-size: 30px;
    float: right;
    cursor: pointer;
    display: none;
    padding: 2vw;
}

#check{
    display: none;
}

.nav-bar--right {
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 10%;
}

.nav-bar--right #lg {
    color: #080808;
}

.nav-bar--right .login{
    padding-right: 5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vw;
    border-radius: 15px 0 0 15px;
    background: linear-gradient(90deg, #EA8103 -10%, #FAA83F 100%);
    border: 1px solid #FAA83F;
    color: #fefefe;
    font-size: 1.1rem;
}

.nav-bar--right .login:hover{
    background: transparent;
    color: #080808;
    border: 1px solid #080808;
}

.hamburger{
    position: relative;
    display: block;
    width: 30px;
    cursor: pointer;
    margin-right: 2vw;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #080808;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px); 
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-6px, -6px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    background-color: #fefefe;
    padding-top: 150px;
    transition: 0.4s;
}

.mobile-nav.is-active{
    left: 0;
}

.mobile-nav a{
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 15px;
        color: #080808;
        text-align: center;
        padding: 12px 15px;
        background-color: #f1f1f1;
        text-decoration: none;
}

.mobile-nav a:hover{
    background: #fefefe;
    border: 1px solid #080808;
}

.section-1{
    background-image: url(../img/hero.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    margin-top: 100px;
    display: block;
}

.headline {
    margin: 0 auto;
    padding-top: 17rem;
    text-align: center;
    align-items: center;
}

.headline h2 {
    color: #fefefe;
    font-size: 3rem;
}

.headline p {
    color: #fefefe;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.headline h1 {
    color: #EA8103;
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 2rem;
}

.btn {
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
}

.btn button {
    padding: 1rem;
}

.btn-fill {
    padding: 1rem;
    background-color: #EA8103;
    color: #fefefe;
    border-radius: 15px;
}

.btn-outline {
    padding: 1rem;
    border: 1px solid #fefefe;
    color: #fefefe;
    border-radius: 15px;
}

.section-2 {
    display: flex;
    padding: 8rem;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.image img{
    width: 400px;
}

.info h5, h2, p {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.info h5 {
    font-size: 2rem;
}

.info h2 {
    font-size: 3rem;
    line-height: 3rem;
}

.info p {
    font-size: 1.2rem;
}

.info h, h2 {
    color: #EA8103;
    
}

.section-2 .btn {
    justify-content: left;
    margin-top: 3rem;
}

.section3-headline {
    color: #fefefe;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}
.section-3 {
    background-color: #222222;
    display: block;
    margin: 0 auto;
    gap: 5rem;
    padding: 5rem;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 6fr);
    gap: 1rem;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card .button {
    justify-content: left;
    margin-top: 3rem;
}

.section-3 img {
    width: 250px;
}

.section-3 h5 p {
    color: #fefefe !important;
}

.card .info {
    color: #fefefe;
    text-align: left;
}

/* RESPONSIVE */

@media (max-width: 768px){
    .section-1{
        margin-top: 70px;
    }
    .check-btn{
        display: block;
    }

    .nav-bar, .nav-bar--right {
        display: none;
    }

    .headline h2{
        font-size: 2rem;
    }

    .headline p {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .headline h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .headline {
        padding-top: 8rem;
    }

    .btn{
        margin-top: 3rem;
    }

    .btn-fill, .btn-outline {
        font-size: .8rem;
    }

    .section-2 {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        margin-top: -180px;
    }
    
    .image img{
        width: 200px;
    }
    
    .info h5, h2, p {
        margin-top: .5rem;
        line-height: 1.5rem;
    }
    
    .info h, h2 {
        color: #EA8103;
        
    }
    
    .section-2 .btn {
        justify-content: left;
        margin-top: 10px;
        font-size: .5rem;
    }

    .info h5{
        font-size: 1rem;
    }

    .info h2 {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    
    .info p {
        font-size: .8rem;
    }

    .card-section {
        grid-template-columns: repeat(2, 6fr);
    }
}

@media (min-width:768px){
    .mobile-nav{
        display: none;
    }

    .hamburger{
        display: none;
    }
}
